<h1>ðŸ“š å›³æ›¸å®¤ä¸€è¦§</h1>

<ul>
  <% @libraries.each do |library| %>
    <li>
      <%= link_to library.name, library_path(library) %>
      <p><%= library.description.present? ? library.description : "èª¬æ˜Žã¯ã‚ã‚Šã¾ã›ã‚“" %></p>
    </li>
  <% end %>
</ul>

<hr>

<div class="footer">
  <% if user_signed_in? %>
    <%= button_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_user_session_path, method: :delete, class: "btn btn-link" %>
  <% else %>
    <%= link_to "æ–°è¦ç™»éŒ²", new_user_registration_path, class: "btn btn-link" %>
    <%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", new_user_session_path, class: "btn btn-link" %>
  <% end %>
</div>
