<%= form_with(model: book, local: true) do |f| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, '件のエラー') %>が発生しました:</h2>
      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :author, "著者" %>
    <%= f.text_field :author %>
  </div>
  <div>
    <%= f.label :comment, "コメント" %>
    <%= f.text_area :comment %>
  </div>
  <div>
    <%= f.submit "登録する" %>
  </div>
<% end %>
