<h1><%= @book.title %></h1>
<p><strong>著者:</strong> <%= @book.author %></p>
<p><strong>コメント:</strong> <%= @book.comment %></p>
<p><strong>投稿者:</strong> <%= @book.user.email %></p>

<% if @book.user == current_user %>
  <%= link_to '編集', edit_book_path(@book) %> |
  <%= button_to '削除', book_path(@book), method: :delete, data: { confirm: '本当に削除しますか？' } %>
<% end %>

<%= link_to '図書室に戻る', library_path(@book.library) %>
