<h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<p><%= link_to "新規登録はこちら", new_user_registration_path %></p>

<!-- トップページ・図書室一覧ページへのリンクを追加 -->
<div class="links">
  <%= link_to "トップページへ戻る", root_path, class: "btn btn-secondary" %>
</div>
